<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
  <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
  <property name="HOST_NAME" value="${HOSTNAME:-UNKNOWN}"/>
  <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
  <property name="CONSOLE_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} ${HOST_NAME} [%blue(%t)] %mdc{traceId} %highlight(%-5level) %yellow(%C{1}) -%line- %msg%n%throwable"/>
  <property name="FILE_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} ${HOST_NAME} [%t] %mdc{traceId} %-5level %C{1} -%line- %msg%n%throwable"/>
  <!--定义日志文件的存储地址 ，这个使用的是相对路径，即在日志文件存放在项目根路径logs文件夹下-->
  <property name="LOG_HOME" value="${LOG_PATH}/${APP_NAME}"/>

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>${CONSOLE_PATTERN}</Pattern>
    </layout>
  </appender>

  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/${APP_NAME}.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>${FILE_PATTERN}</Pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily and when the file reaches 10 MegaBytes -->
      <fileNamePattern>${LOG_PATH}/${APP_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>10</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>

  <!-- LOG everything at DEBUG level -->
  <root level="DEBUG">
    <!-- 当且仅当开发环境 执行输出到控制台 -->
    <appender-ref ref="Console"/>
    <appender-ref ref="RollingFile"/>
  </root>

</configuration>
